@model TennisFormFinal.Models.TennisReservation



<h4>TennisReservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ReservationForm" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FieldName" class="control-label">Nome del campo: </label>
                <!--<input asp-for="FieldName" class="form-control" />-->
                @Html.DropDownListFor(model => model.FieldName,
               new SelectList(new string[] { "Erba alta 1", "Erba alta 2", "Terra battuta", "Sintetico" },
               "Erba alta 1"), htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="FieldName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservationTime" class="control-label">Data e ora del match: </label>
                @Html.EditorFor(model => model.ReservationTime)
                <span asp-validation-for="ReservationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatchType" class="control-label">Tipo di match: </label>
                @Html.DropDownListFor(model => model.MatchType,
               new SelectList(new string[] { "Singolo", "Doppio" },
               "Singolo"), htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="MatchType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

