<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tennis Form Final</title>
    <style>

        #mainDiv {
            padding: 20px;
            border: solid medium black;
            font-size: 20pt
        }
    </style>
</head>
<body>
    <h1>Prenota il tuo campo da tennis!</h1>
    <div id="mainDiv">
        @RenderBody()
    </div>
    <footer>
        <h2>Posted by: Nicoletta</h2>
    </footer>
</body>

</html>