@model TennisFormFinal.Models.TennisReservation 
<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.FieldName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.ReservationTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.MatchType)
    </td>
    <td>  
        <a asp-action="Delete" asp-route-id="@Model.ReservationId">Delete</a>
    </td>
</tr>
